.hero {
  margin-bottom: 13.6rem;

  &__heading {
    margin-bottom: 2.3rem;
    text-align: center;
  }

  &__text {
    text-align: center;
    max-width: 55ch;
    margin-inline: auto;
    margin-bottom: 8rem;
    color: $clr-medium-brown;
  }

  &__skills {
    display: grid;
    gap: 2.4rem;
    grid-template-rows: repeat(2, 18.2rem);
    grid-template-areas:
      "graphic-design ui-ux apps photography"
      "graphic-design illustrations illustrations motion-graphics";

    @include respond(max-width, 64rem) {
      grid-template-rows: repeat(3, 18.2rem);
      grid-template-areas:
        "graphic-design graphic-design ui-ux apps"
        "graphic-design graphic-design illustrations illustrations"
        "photography photography motion-graphics motion-graphics";
    }

    @include respond(max-width, 35rem) {
      grid-template-rows: 36.4rem repeat(4, 18.2rem);
      grid-template-areas:
        "graphic-design graphic-design"
        "ui-ux apps"
        "illustrations illustrations"
        "photography photography"
        "motion-graphics motion-graphics";
    }
  }

  &__graphic-design {
    grid-area: graphic-design;
    background-color: $clr-galactic-blue;
  }

  &__ui-ux {
    grid-area: ui-ux;
    background-color: $clr-summer-yellow;
  }

  &__apps {
    grid-area: apps;
    background-color: $clr-light-coral;
  }

  &__photography {
    grid-area: photography;
    background-color: $clr-cyan;
  }

  &__illustrations {
    grid-area: illustrations;
    background-color: $clr-light-red;
  }

  &__motion-graphics {
    grid-area: motion-graphics;
    background-color: $clr-dark-maroon;
  }
}

.summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.8rem;
  gap: 12.5rem;

  @include respond(max-width, 35rem) {
    flex-direction: column;
  }

  &__image {
    @include respond(max-width, 64rem) {
      left: -6.5rem;
      max-width: 36.4rem;
      position: absolute;
    }
  }

  &__content {
    max-width: 73ch;
    @include respond(max-width, 64rem) {
      margin-left: auto;
      max-width: 50ch;
    }
  }

  &__heading {
    margin-bottom: 3.4rem;
    text-wrap: balance;
  }

  &__text {
    margin-bottom: 3.2rem;
    color: $clr-medium-brown;
  }
}

.cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 2.5rem;
  padding: 8rem 6.5rem;
  border-radius: 1rem;
  background-color: $clr-black;
  color: $clr-light-cream;
  margin-bottom: 5.6rem;

  @include respond(max-width, 64rem) {
    padding: 4.9rem 2.4rem;
  }

  @include respond(max-width, 64rem) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &__text {
    grid-row: 2/3;
    @include respond(max-width, 64rem) {
      grid-row: auto;
    }
  }

  &__button {
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;

    @include respond(max-width, 64rem) {
      grid-row: auto;
      grid-column: auto;
    }
  }
}
