.button {
  border: none;
  padding: 2.4rem;
  border-radius: 100vw;
  display: inline-block;
  font-size: $fs-300;
  line-height: $lh-400;
  font-weight: $fw-bold;
  color: $clr-light-cream;

  &:link,
  &:visited {
    text-decoration: none;
    transition: all 0.15s;
    border-radius: 2.8rem;
    padding: 1.4rem 4.5rem;
  }

  &--primary {
    background-color: $clr-light-red;

    &:hover {
      cursor: pointer;
      background-color: $clr-summer-yellow;
    }
  }

  &--secondary {
    background-color: $clr-black;

    &:hover {
      cursor: pointer;
      background-color: $clr-galactic-blue;
    }
  }
}
