$clr-cyan: #61c4b7;
$clr-black: #030303;
$clr-light-red: #eb7565;
$clr-light-coral: #f39e9e;
$clr-dark-maroon: #552049;
$clr-light-cream: #fff7f0;
$clr-galactic-blue: #755cd3;
$clr-summer-yellow: #f6a560;
$clr-medium-brown: #7a746e;

$ff-primary: "Plus Jakarta Sans", sans-serif;

$fs-300: 1.6rem;
$fs-400: 1.8rem;
$fs-450: 2.6rem;
$fs-500: 3.2rem;
$fs-600: 4rem;
$fs-650: 4.5rem;
$fs-700: 5.6rem;

$lh-400: 2.8rem;
$lh-500: 4rem;
$lh-600: 5.1rem;
$lh-700: 7rem;

$fw-regular: 500;
$fw-bold: 700;
